/*mainCon*/

.mainCon {
  margin: 30px auto;
  font-size: 14px;
  line-height: 1;
}

.bor_t {
  border-top: solid 1px purple;
}

.slideLeft {
  float: left;
  width: 200px;
  border: solid 1px purple;
}

.mainRight {
  float: right;
  width: 1200px;
  min-height: 500px;
  padding: 0 40px;
  border: solid 1px purple;
}

.mainRight .noContent {
  font-size: 16px;
  color: #999;
  line-height: 24px;
  text-align: center;
}

.slideLeft ul {
  padding: 10px 0;
  padding-left: 30px;
  margin: 0 20px;
}

.slideLeft li {
  line-height: 40px;
  position: relative;
}

.slideLeft li a {
  display: block;
  padding-left: 25px;
  font-size: 14px;
  color: #666;
}



.slideLeft li a:hover {
  color: purple;
}

.slideLeft li a.active {
  color: purple;
}

.slideLeft li.myLook b {
  background-position: 0 -334px;
}


.slideLeft li.myContract b {
  background-position: 0 -352px;
}


.slideLeft li.myChange b {
  background-position: 0 -370px;
}



.slideLeft li.myWallet b {
  background-position: 0 -250px;
}



.slideLeft li.myCardHolder b {
  background-position: 0 -269px;
}


.slideLeft li.myNews b {
  background-position: 0 -387px;
}


.slideLeft li.myStore b {
  background-position: 0 -315px;
}



.slideLeft li.myBaojie b {
  background-position: 0 -428px;
}

.slideLeft li.myWeixiu b {
  background-position: 0 -448px;
}


.slideLeft li.myBanjia b {
  background-position: 0 -467px;
}



.slideLeft li.myTousu b {
  background-position: 0 -487px;
}



.slideLeft li.livingPayment b {
  background-position: 0 -407px;
}



.slideLeft li.myActivity b {
  background-position: 0 -507px;
}


.person {
  padding: 30px 10px;
  border-bottom: 1px solid purple;
}



.person .photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 30px;
}

.person .photo img {
  width: 100%;
}

.person .information .p1 {
  font-size: 20px;
  color: #444;
  padding-top: 16px;
}

.person .information .p1 span {
  color: purple;
}

.person .information .p1 span a {
  color: purple;
}

.person .information .p2 {
  position: relative;
  margin-top: 22px;
}

.person .information .p2 a {
  font-size: 14px;
  color: #999;
}

.person .information .p2 i {
  top: 2px;
  left: 89px;
  width: 6px;
  height: 10px;
  background-position: -70px -270px;
}

.person .information .p3 {
  position: relative;
  font-size: 14px;
  color: #999;
  margin-top: 20px;
}

.person .information .p3 span {
  padding-left: 20px;
  margin-right: 18px;
}

.person .information .p3 span.active {
  color: #444;
}

.person .information i.phone {
  top: -1px;
  left: 3px;
  width: 10px;
  height: 14px;
  background-position: -90px -270px;
}

.person .information i.email {
  top: 2px;
  left: 128px;
  width: 12px;
  height: 10px;
  background-position: -110px -270px;
}

.person .information i.phone.active {
  background-position: -160px -270px;
}

.person .information i.email.active {
  background-position: -180px -270px;
}

.person .wallet,
.person .grade {
  text-align: center;
  position: relative;
}

.person .wallet .p1,
.person .grade .p1 {
  position: relative;
  font-size: 14px;
  color: #999;
  margin-top: 27px;
}

.person .wallet .p2,
.person .grade .p2 {
  font-size: 30px;
  color: purple;
  margin-top: 26px;
}

.person .wallet .p2 a {
  color: purple;
}

.person .wallet .p2 span {
  font-size: 18px;
}

.person .grade .p2 span {
  position: relative;
  top: -5px;
  left: 0;
  display: inline-block;
  width: 60px;
  height: 20px;
  background: purple;
  border-radius: 4px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  margin-left: 10px;
  line-height: 20px;
}

.person .grade .p1 {
  display: inline-block;
  padding-right: 20px;
}

.person .grade .p1 i {
  position: absolute;
  top: 50%;
  right: 0px;
  width: 14px;
  height: 14px;
  background-position: -130px -270px;
  margin-top: -7px;
}

.person .grade .p3,
.person .wallet .p3 {
  font-size: 30px;
  color: #999;
  margin-top: 22px;
}

.person .grade .p4 {
  margin-top: 24px;
  font-size: 22px;
  color: #999;
}

.person .grade .p5 {
  margin-top: 6px;
  font-size: 12px;
  color: #999;
}

.person .line {
  width: 1px;
  height: 60px;
  background: purple;
  margin: 30px 50px 0;
}

.person .grade_box {
  display: none;
  position: absolute;
  top: 46px;
  left: -104px;
  z-index: 99;
  width: 205px;
  height: 210px;
  padding: 26px 20px;
  background: url(../images/zone/box.png) no-repeat;
  text-align: left;
}

.person .grade_box .line1 {
  font-size: 12px;
  color: #444;
  line-height: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 8px;
}

.person .grade_box .line2 {
  font-size: 14px;
  color: #666;
  line-height: 34px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 6px;
}

.person .grade_box li p {
  font-size: 12px;
  color: #666;
  line-height: 22px;
}

.person .grade_box .num1 {
  display: inline-block;
  width: 28px;
}

.person .grade_box .num2 {
  margin-left: 12px;
}

.contract {
  padding: 30px 0;
  border-bottom: 1px solid purple;
  overflow: hidden;
}

.contract h5 {
  display: inline-block;
  font-size: 16px;
  color: #333;
  padding-bottom: 14px;
  border-bottom: 2px solid purple;
  margin-bottom: 20px;
}

.contract .name {
  position: relative;
  border-bottom: 1px solid purple;
  padding: 0 22px;
}

.contract .btn a {
  position: absolute;
  top: 0;
  width: 20px;
  height: 40px;
  background-image: url(../images/zone/zoneIcon.png);
  background-repeat: no-repeat;
}

.contract .left_btn {
  left: 0;
  background-position: -140px -330px;
}

.contract .right_btn {
  right: 0;
  background-position: -170px -330px;
}

.contract .name ul {
  position: relative;
  top: 0;
  left: 0;
}

.contract .name li {
  float: left;
  width: 162px;
  height: 38px;
  text-align: center;
}

.contract .name li p {
  font-size: 14px;
  color: #444;
  line-height: 20px;
  margin-top: 9px;
  border-right: 1px solid purple;
  cursor: pointer;
}

.contract .name li.active {
  position: relative;
  bottom: -1px;
  left: 0;
  width: 161px;
  border: 1px solid purple;
  border-bottom: 1px solid #fff;
  margin-left: -1px;
}

.contract .name li.active p {
  color: purple;
  line-height: 16px;
  border: 0 none;
}

.contract .detail {
  display: none;
  padding-top: 16px;
}

.contract .detail.active {
  display: block;
}

.contract .detail i {
  position: absolute;
  background-image: url(../images/zone/zoneIcon.png);
  background-repeat: no-repeat;
}

.contract .detail li {
  position: relative;
  font-size: 14px;
  color: #444;
  line-height: 36px;
  padding-left: 24px;
}

.contract .detail i.number {
  top: 11px;
  left: 2px;
  width: 11px;
  height: 13px;
  background-position: -110px -300px;
}

.contract .detail i.position {
  top: 10px;
  left: 1px;
  width: 12px;
  height: 16px;
  background-position: -130px -300px;
}

.contract .detail i.price {
  top: 10px;
  left: 0px;
  width: 14px;
  height: 14px;
  background-position: -150px -300px;
}

.contract .detail i.rent {
  top: 12px;
  left: 1px;
  width: 13px;
  height: 11px;
  background-position: -180px -300px;
}

.contract .detail li span {
  color: purple;
  margin-right: 12px;
}

.contract .detail li a {
  display: inline-block;
  width: 50px;
  height: 20px;
  background: purple;
  border-radius: 4px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  font-size: 12px;
}

.contract .detail_r {
  text-align: center;
  padding: 6px 40px 0 50px;
}

.contract .detail .calendar {
  display: inline-block;
  width: 58px;
  height: 53px;
  background: url(../images/zone/zoneIcon.png) -70px -330px no-repeat;
  margin-bottom: 10px;
}

.contract .detail .month {
  font-size: 12px;
  color: #fff;
  margin-top: 7px;
}

.contract .detail .date {
  font-size: 24px;
  color: #bbb;
  font-family: 'Arial';
  font-weight: bold;
  margin-top: 6px;
}

.contract .detail_r>p {
  font-size: 14px;
  color: #444;
  line-height: 24px;
}

.contract .detail .day {
  color: purple;
}

.contract .guanjia {
  width: 188px;
  text-align: center;
  border-left: 1px solid purple;
}

.contract .gj_photo {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}

.contract .gj_photo img {
  position: absolute;
  width: 160px;
  left: 50%;
  top: 0;
  margin-left: -80px;
}

.contract .gj_photo .noImg {
  display: inline;
  background: url(../images/zone/guanjia.png) no-repeat center center;
  width: 70px;
  height: 70px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
  display: none;
}

.contract .guanjia p {
  font-size: 14px;
  color: #444;
  line-height: 24px;
}

.contract .guanjia p span {
  color: purple;
}

.collection {
  padding: 30px 0;
}

.collection h5 {
  display: inline-block;
  font-size: 16px;
  color: #333;
  padding-bottom: 14px;
  border-bottom: 2px solid purple;
  margin-bottom: 20px;
}

.collection ul {
  margin-right: -22px;
}

.collection li {
  float: left;
  width: 285px;
  margin-right: 22px;
  font-size: 14px;
}

.collection .img {
  width: 285px;
  height: 190px;
  overflow: hidden;
  margin-bottom: 10px;
}

.collection .name {
  color: #444;
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.collection .price {
  color: purple;
  font-family: "Microsoft Yahei";
}

/*topBar*/

#topBar .line,
#topBar .icon,
#topBar .appPanel {
  background-image: url(http://passport.ziroom.com/assets/images/common/header_new.png);
  background-repeat: no-repeat;
}

#topBar .glbLeft {
  margin-left: 0px;
}

#topBar .glbRight {
  margin-right: -10px;
}

#topBar {
  background: #fafafa;
  border-bottom: solid 1px #ccc;
  color: #666;
  height: 30px;
  line-height: 30px;
  position: relative;
  z-index: 99;
}

#topBar .top_list li {
  float: left;
  position: relative;
  padding: 0 10px;
  cursor: pointer;
}

#topBar .top_list li a {
  color: #666;
}

#topBar .top_list li a:hover {
  color: purple;
}

#topBar .top_list li i.line {
  position: absolute;
  right: 0;
  top: 9px;
  width: 1px;
  height: 15px;
  background-position: -70px 0;
}

#topBar .top_list li b {
  position: absolute;
  left: 0;
  top: 9px;
}

#topBar .top_list .forCollection {
  padding-left: 20px;
}

#topBar .top_list .forCollection .icon {
  background-position: -10px 0;
  width: 16px;
  height: 14px;
}

#topBar .top_list .forOrder {
  padding-left: 28px;
}

#topBar .top_list .forOrder .icon {
  background-position: -30px 0;
  width: 13px;
  height: 15px;
  left: 10px;
  top: 8px;
}

#topBar .top_list .forApp {
  padding-left: 25px;
}

#topBar .top_list .forApp .icon {
  background-position: -50px 0;
  width: 10px;
  height: 16px;
  left: 10px;
  top: 7px;
}

#topBar .top_list .forApp .appPanel {
  width: 170px;
  height: 190px;
  background-position: 0 -140px;
  position: absolute;
  left: 50%;
  top: 24px;
  margin-left: -85px;
  text-align: center;
  line-height: 16px;
  padding-top: 20px;
  display: none;
}

#topBar .top_list .forApp .appPanel img {
  margin: 0 auto 5px auto;
}

#topBar .top_list .forApp:hover .appPanel {
  display: block;
}

#topBar .user .con {
  background: #fff;
  border: solid 1px #ccc;
  border-top: none;
  border-radius: 0 0 5px 5px;
  position: absolute;
  left: 0;
  top: 30px;
  width: 90px;
  text-align: center;
  display: none;
}

#topBar .user .con a {
  display: block;
  line-height: 26px;
}

#topBar .user .con a:hover {
  background: #fafafa;
}

#topBar .user .img {
  float: left;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  margin-right: 5px;
  margin-top: 5px;
}

#topBar .top_list li.user {
  padding-right: 20px;
  padding-left: 0;
}

#topBar .top_list li.user .icon {
  position: absolute;
  right: 8px;
  top: 13px;
  left: auto;
  width: 5px;
  height: 3px;
  background-position: 0 0;
}

#topBar .top_list li.user:hover .con {
  display: block;
}

/*header*/

#header {
  z-index: 98;
  background: #fff;
  border-bottom: solid 2px purple;
}

#header .logo {
  padding: 20px 0;
  float: left;
  margin-right: 30px;
}

#header .nav {
  float: left;
  height: 30px;
  line-height: 24px;
  margin-top: 30px;
  padding-left: 50px;
}

#header .nav_r {
  float: right;
  height: 30px;
  line-height: 24px;
  margin-top: 30px;
}

#header .nav a {
  padding: 0 20px;
  font-size: 16px;
}

#header .nav a.active {
  color: purple;
}

#header .nav_r a {
  font-size: 14px;
  background: purple;
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
}

/*footer*/

#footer {
  padding: 20px 0px;
  background: #fafafa;
  line-height: 20px;
  border-top: solid 1px #ccc;
}

#footer .area {
  width: 1000px;
}

#footer .glbLeft {
  width: 700px;
}

#footer .glbRight {
  width: 300px;
  float: right;
}

#footer .fList {
  float: left;
  width: 180px;
}

#footer .fList dt {
  font-size: 14px;
  font-weight: bold;
  line-height: 35px;
}

#footer .fList dd a {
  display: block;
  font-size: 12px;
  line-height: 24px;
  -moz-transition: all .2s ease-in;
  -o-transition: all.2s ease-in;
  transition: all .2s ease-in;
}

#footer .fList dd a:hover {
  padding-left: 10px;
}

#footer .glbRight .img {
  float: right;
  text-align: center;
  margin-left: 20px;
}

#footer .glbRight .img img {
  width: 100px;
  height: 100px;
}

.linksFooter {
  border-top: solid 1px purple;
  border-bottom: solid 1px purple;
  line-height: 47px;
  height: 47px;
  overflow: hidden;
  margin: 15px auto;
}

.linksFooter dt {
  float: left;
  margin-right: 10px;
  text-align: center;
}

.linksFooter dd {
  float: left;
  width: 700px;
}

.linksFooter dd a {
  display: inline-block;
  margin: 0 5px;
}
. menu-title{
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #eee;
    padding: 10px 15px;}

