<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  {% block cssfile %}
      <link href="/static/css/ihome/my2.css" rel="stylesheet">
  {% endblock cssfile %}
</head>
<body>
<!-- 头部的html组成母版 -->
{% block header %}
  <div id="topBar">
  <div class="area clearfix">
    <div class="glbLeft">
      <ul class="top_list">
        <li class="user">
          <img src="" onerror="this.src='static/images/房子.png'" width="20" class="img">
          JackBuildtheHouse <i class="line"></i>
          <b class="icon"></b>
        </li>
        <li id="logout"><a href="#" onclick="logout();">退出</a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock header %}

<!-- 左边导航栏组成母版 -->
{% block slideleft %}
  <div class="slideLeft">
    <ul>
      <li class="myStore"><b></b><a href="/profile.html">个人信息</a></li>
      <li class="myLook"><b></b><a href="/orders.html">我的订单</a></li>
      <li class="myContract"><b></b><a href="/myhouse.html">我的房源</a></li>
      <li class="myContract"><b></b><a href="/lorders.html">客户订单</a></li>
    </ul>
  </div>
{% endblock slideleft %}

</body>
</html>
